*
{
    margin: 0;
    padding: 0;
}

body
{
    min-width: 320px;
    background-color: #F5F5F5;
}

.saas-shop-container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'Manrope', sans-serif;
}

.saas-shop-title
{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.saas-shop-period
{
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    margin: 0 16px;
}

.saas-shop-period-input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.saas-shop-period-input:checked + .saas-shop-slider
{
    background-color: #FF9900;
}

.saas-shop-period-input:checked + .saas-shop-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.saas-shop-slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 100px;
}

.saas-shop-slider:before
{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.saas-shop-period-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.saas-shop-period-sale
{
    background: rgba(255, 153, 0, 0.16);
    border-radius: 5px;
    padding: 4px 8px;
    margin: 0 8px;
    color: #FF9900;
    font-size: 12px;
}

.saas-shop-period-title
{
    font-weight: 600;
}

.saas-shop-row
{
    display: flex;
    justify-content: space-evenly;
}

.saas-shop-card
{
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 24px;
    background-color: #fff;
    width: 360px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}

.saas-shop-card:nth-child(2n)
{
    background-color: #ff9900;
    border: none;
    color: #fff;
    transform: scale(1.06);
}

.saas-shop-card:nth-child(2n) .saas-shop-form-data
{
    border-color: #fff;
}

.saas-shop-card:nth-child(2n) .saas-shop-card-button
{
    background-color: #fff;
    color: #ff9900;
}

.saas-shop-card:nth-child(2n) .saas-shop-card-name,
.saas-shop-card:nth-child(2n) .saas-shop-form-input
{
    color: #fff;
}

.saas-shop-card:nth-child(2n) .saas-shop-icon-check:before,
.saas-shop-card:nth-child(2n) .saas-shop-icon-check:after,
.saas-shop-card:nth-child(2n) .saas-shop-icon-close:before,
.saas-shop-card:nth-child(2n) .saas-shop-icon-close:after
{
    background-color: #fff;
}

.saas-shop-card:nth-child(2n) .saas-shop-form-plus::before,
.saas-shop-card:nth-child(2n) .saas-shop-form-plus::after
{
    background-color: #F8DDB3;
}

.saas-shop-card:nth-child(2n) .saas-shop-form-minus::before
{
    background-color: #F8DDB3;
}

.saas-shop-card-name
{
    font-size: 20px;
    font-weight: 700;
    color: #ff9900;
}

.saas-shop-card-list
{
    list-style: none;
    padding-left: 0;
}

.saas-shop-list-item
{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    padding-left: 30px;
    position: relative;
}

.saas-shop-list-item-none
{
    opacity: .3;
}

.saas-shop-icon-check
{
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 10px;
    left: 0;
    top: 4px;
}

.saas-shop-icon-check:before
{
    position: absolute;
    left: -4px;
    top: 10%;
    height: 80%;
    width: 2px;
    background-color: #000;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    border-radius: 10px 10px 0 0;
}

.saas-shop-icon-check:after
{
    position: absolute;
    left: -4px;
    top: 68%;
    height: 2px;
    width: 80%;
    background-color: #000;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    border-radius: 0 10px 10px 0;
}

.saas-shop-icon-close {
    position: absolute;
    left: 2px;
    top: 1px;
    width: 12px;
    height: 12px;
}

.saas-shop-icon-close:before,
.saas-shop-icon-close:after {
    position: absolute;
    left: 5px;
    content: '';
    height: 14px;
    width: 2px;
    background-color: #000;
    border-radius: 10px;
}

.saas-shop-icon-close:before {
    transform: rotate(45deg);
}

.saas-shop-icon-close:after {
    transform: rotate(-45deg);
}

.saas-shop-card-price
{
    margin: 16px 0 30px;
    font-weight: 700;
}

.saas-shop-price-value
{
    font-size: 32px;
}

.saas-shop-price-text
{
    opacity: .5;
}

.saas-shop-card-form
{
    margin-top: 30px;
}

.saas-shop-form-data
{
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saas-shop-count-name
{
    font-weight: 500;
}

.saas-shop-form-control
{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.saas-shop-form-input
{
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    width: 50px;
    background-color: transparent;
}

.saas-shop-form-minus,
.saas-shop-form-plus
{
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

.saas-shop-form-plus::before,
.saas-shop-form-plus::after
{
    content: '';
    width: 16px;
    height: 2px;
    background-color: #707070;
    position: absolute;
    top: calc(50% - 1px);
    border-radius: 5px;
}

.saas-shop-form-plus::after
{
    transform: rotate(90deg);
}

.saas-shop-form-minus::before
{
    content: '';
    width: 16px;
    height: 2px;
    background-color: #D1D1D1;
    position: absolute;
    top: calc(50% - 1px);
    border-radius: 5px;
}

.saas-shop-form-input::-webkit-outer-spin-button,
.saas-shop-form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.saas-shop-form-input:focus-visible
{
    outline: none;
}

.saas-shop-form-label
{
    margin-left: 10px;
}

.saas-shop-card-button
{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FF9900;
    background-color: rgba(255, 153, 0, 0.16);
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
    border: none;
}